# Koneksi Database
ConnectionStrings__DefaultConnection="server=localhost;port=3306;database=YOUR_DATABASE_NAME;user=YOUR_USERNAME;password=YOUR_PASSWORD;"

# Konfigurasi Keamanan JWT
Jwt__Key="YOUR_SECRET_KEY"
Jwt__Issuer="BorrowItApi"
Jwt__Audience="BorrowItClient"

# Konfigurasi CORS
AllowedOrigins="REACT_URL" # URL default Vite/React